.summarycard {
 
  padding: 10px;
  border: none !important;
  border-radius: 60px !important;
  align-items: center;
  margin: 5px;

  &_summaryicon {
   width: 20px;
   height: 20px;
  }
  &_summarycount {
    color: #01593c !important;
    font-weight: 700;
    font-size: 25px;
  }
  &_summarylabel {
    color: #01593c !important;
    font-weight: 700;
    font-size: 16px;
  }
}
